* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 3.6rem;
  padding: 5rem 0rem;
}

a {
  color: #fff;
  font-size: 2.4rem;
  text-decoration: none;
}

h3 {
  font-size: 2.8rem;
  padding: 5rem 0rem;
}

button {
  font-size: 1.8rem;
}

nav {
  background: #40414B;
  color: #fff;
  padding: 3rem;
}

nav h1 {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  margin: 0 3rem;
}