* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.box1,
.box2,
.box3 {
  border: 2px solid black;
  font-size: 2.8rem;
  height: 30rem;
  margin: 1rem;
  width: 30rem;
}

.box1 {
  float: left;
}

.box2 {
  float: right;
}

.clear {
  clear: both;
}

.box3 {
  width: 100%;
}